h1, h2, h3 {
    color: pink;
    font-family: cursive;
    font-size: 150%;
}

p {
  color: pink;
  font-family: cursive;
  font-size: 100%;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
    background-color: #6471cf;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #;
    font-size: 20px;
}
#lab3summary {
    background-color: #6471cf;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #;
    font-size: 20px;
  }
#vesper {
  width: 220px;
}
#annalivia {
    width: 200px;
}
#filestructure {
    width:200px;
}
#screenshot1, #screenshot2, #screenshot3, #screenshot4, #screenshot5, #screensh {
    width: 500px;
}
